/toview
.DS_Store

# Node
node_modules/
.pnpm-store/

# Nuxt
.nuxt/
.output/
dist
dist/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Coverage
coverage/
